<!-- <section>
  <div class="example-label"></div>
  <div class="example-button-row">
    <button mat-flat-button color="primary"> <mat-icon>favorite</mat-icon> J'aime</button>
    <button mat-flat-button color="accent">Je n'aime pas</button>
    <a mat-flat-button color="blue" href="https://www.linkedin.com/in/victoria-iber-47165512a/" target="_blank">
      Profil Linkedin
    </a>
  </div>
</section> -->

<button mat-flat-button color="primary"> <mat-icon>favorite</mat-icon> J'aime</button>
<button mat-flat-button color="accent">Je n'aime pas</button>
